<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/app.css">
    <title>Boggle Boggle Boggle</title>
</head>

<body>
    <h1>It's Time for BOGGLE!</h1>
    <div class="score-time">
        <h2 class="score" id="score">Score:</h2>
        <h2 class="time" id="time">Time:</h2>
    </div>
    {% block content %} {% endblock %}
    <form>
        <input type="text">
        <button id="submit">Submit Word</button>
    </form>
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="static/boggle.js"></script>
    <script src="static/app.js"></script>
</body>

</html>