{% extends 'base.html' %}

{% block content %}
<!-- I need a for loop -->
<!-- {{game_board}} -->

<!-- Really clunky way -->
<!-- I want to make my for loop work with these coordinates -->
<!-- <div class="game-board">
    <div class="row">
        <div class="tile">
            {{game_board[0][0]}}
        </div>
        <div class="tile">
            {{game_board[0][1]}}
        </div>
        <div class="tile">
            {{game_board[0][2]}}
        </div>
        <div class="tile">
            {{game_board[0][3]}}
        </div>
        <div class="tile">
            {{game_board[0][4]}}
        </div>
    </div>
    <div class="row">
        <div class="tile">
            {{game_board[1][0]}}
        </div>
        <div class="tile">
            {{game_board[1][1]}}
        </div>
        <div class="tile">
            {{game_board[1][2]}}
        </div>
        <div class="tile">
            {{game_board[1][3]}}
        </div>
        <div class="tile">
            {{game_board[1][4]}}
        </div>
    </div>
    <div class="row">
        <div class="tile">
            {{game_board[2][0]}}
        </div>
        <div class="tile">
            {{game_board[2][1]}}
        </div>
        <div class="tile">
            {{game_board[2][2]}}
        </div>
        <div class="tile">
            {{game_board[2][3]}}
        </div>
        <div class="tile">
            {{game_board[2][4]}}
        </div>
    </div>
    <div class="row">
        <div class="tile">
            {{game_board[3][0]}}
        </div>
        <div class="tile">
            {{game_board[3][1]}}
        </div>
        <div class="tile">
            {{game_board[3][2]}}
        </div>
        <div class="tile">
            {{game_board[3][3]}}
        </div>
        <div class="tile">
            {{game_board[3][4]}}
        </div>
    </div>
    <div class="row">
        <div class="tile">
            {{game_board[4][0]}}
        </div>
        <div class="tile">
            {{game_board[4][1]}}
        </div>
        <div class="tile">
            {{game_board[4][2]}}
        </div>
        <div class="tile">
            {{game_board[4][3]}}
        </div>
        <div class="tile">
            {{game_board[4][4]}}
        </div>
    </div>
</div> -->

<!---I got it working!-->
{% for x in game_board %}
<div class="row"></div>
{% for y in x %}
<div class="tile"><h3>{{y}}</h3></div>
{% endfor %}
{% endfor %}

<!-- the loop needs to have a for x and for y?  -->
<br><br>
{% endblock %}